section {
  background-color: white;
  width: 551px;
  height: 166px;
  border-radius: 12px;
  padding: 30px;

  .divTitle {
    text-align: start;

    h3 {
      font-weight: 600;
      font-size: 19.5px;
      color: #111827;
    }
  }

  .divSinopse {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 14px;
      color: #111827;
    }
  }
}

@media (max-width: 768px) {
  section {
    width: 500px;
  }

  section .divTitle h3 {
    padding-top: 0px;
    font-size: 22px;
    margin: 0;
  }

  section .divSinopse p {
    padding-top: 0px;
    font-size: 14px;
  }

  section .divSinopse {
    padding-top: 7px;
  }
}

@media (min-width: 1024px) {
  section {
    width: 440px;
    height: 322px;
  }

  section .divTitle h3 {
    padding-top: 10px;
    padding-bottom: 13px;
    font-size: 29px;
  }

  section .divSinopse p {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  section {
    width: 31rem;
    height: 195px;
  }

  section .divTitle h3 {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 25px;
  }

  section .divSinopse p {
    font-size: 15px;
  }

  section .divSinopse {
    padding-top: 5px;
  }
}

@media (min-width: 1530px) {
  section {
    width: 42rem;
    height: 195px;
  }

  section .divTitle h3 {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 25px;
  }

  section .divSinopse p {
    font-size: 15px;
  }

  section .divSinopse {
    padding-top: 5px;
  }
}

@media (min-width: 1900px) {
  section {
    width: 52rem;
    height: 253px;
  }

  section .divTitle h3 {
    padding-top: 20px;
    font-size: 29px;
  }

  section .divSinopse p {
    font-size: 18px;
  }

  section .divSinopse {
    padding-top: 5px;
  }
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  font-size: 18px;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}