<section class="myContainer">
  <div class="divImg">
    <span>
      <div class="divTexts">
        <h2>{{ 'home.bannerListMovies' | translate }}</h2>
        <p>
          {{ 'home.messageFavorites' | translate }}
        </p>
      </div>
      <div class="divBtn">
        <app-common-button
          [colorWhite]="true"
          [label]="'actions.watchMovies' | translate"
          routerLink="/movies"
        />
      </div>
    </span>
    <img src="assets/banner.jpg" alt="Banner Home" />
  </div>
  <div>
    <h3>{{ 'home.yourFavorites' | translate }}</h3>
    <app-carousel 
      [arrayMovie]="favorites"
      [codeLanguage]="codeLanguage"
      [action]="loadFavorites"
      (deletedMovie)="loadFavorites()"
    />
  </div>
  <div>
    <h3>{{ 'Mais Assistidos' }}</h3>
    <app-carousel 
      [arrayMovie]="rateds"
      [codeLanguage]="codeLanguage"
      [action]="loadTopRated"
      (deletedMovie)="loadTopRated()"
    />
  </div>
</section>

<!-- <h2><strong><span class="yellow">Simples</span><span class="blue">Flix</span></strong> — Descubra filmes, explore histórias e avalie emoções.</h2>
  <div>
    <img src="/assets/simplesflix-logo.png" alt="Logo SimplesFlix" width="450" height="450">
  </div> -->
