input {
  padding: 12px 0;
  padding-left: 33px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #1D4ED8;
  background-image: url('/assets/search.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding-right: 10px;
}

input::placeholder {
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #aaa;
}